.DS_Store
WebIM/WebIM
shorturl/shorturl
todo/todo
*.exe
*.exe~
lastupdate.*
movimientos_crud
custom.env
.vscode/
main
.scannerwork/
swagger/*.png
swagger/*.html
swagger/*.js
swagger/*.map
swagger/*.css
swagger/*.yml
swagger/css/
swagger/fonts/
swagger/images/
swagger/lang/
swagger/lib/
go.mod
go.sum